
.article-title {
    color: dodgerblue;
    font-size: 2.0em;
    padding: 0.5rem;
}

.main-container .article-title {
    padding: 2rem 0.5rem;
    padding-top: 6rem;
}

.article-header {
    padding: 1rem 0.5rem;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.article-header h1 {
    padding-bottom: 2rem;
}

.article-header p {
    line-height: 1.5em;
    font-size: 1.1em;
    font-family: 'Libre Baskerville', serif;
    color: #444444;
}

.article-header img {
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

@media screen and (max-width: 800px){

    .article-header {
        grid-template-columns: 100%;
    }
}