
.article-title {
    color: dodgerblue;
    font-size: 4.0em;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10%;
}

.article-header {
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.article-header p {
    line-height: 2.0em;
}

.article-header img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 800px){

    .article-header {
        grid-template-columns: 70%;
    }
}