header {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.site-title h1 {
    font-size: 48px;
    font-weight: normal;
}

.site-title h1 .dot {
    color: dodgerblue;
}

.site-title p {
    color: #777777;
    padding-top: 8px;
}

nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #444444;
    z-index: 200;
}

.nav-item {
    padding: 20px;
    background-color: #4b4b4b;
    text-align: center;
    border-top: 2px solid #4b4b4b;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    color: white;

}

.nav-item:hover {
    cursor: pointer;
    border-top-color: dodgerblue;
    color: dodgerblue;
    background-color: #eeeeee;
}

.dropdown {
    display: none;
}

.menu .drop {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 16px;
    left: 15%;
    right: 15%;
    width: 70%;
    background-color: #525252;
    border-top: 2px solid dodgerblue;
    height: 60vh;
    overflow-y: scroll;
    z-index: 10000;
}

.images {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#00000086, #00000086), 
    url("https://images.unsplash.com/photo-1555374018-13a8994ab246?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=358&q=80");
}


.images .content {
    padding: 20px;
    width: 50%;
    height: 40%;
    min-height: 300px;
    min-width: 300px;
    background-color: rgba(30, 143, 255, 0.336);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images .content h1 {
    font-weight: normal;
    font-size: 1.4em;
    padding: 1rem;
}

.menu .drop .dd-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.rubrique-maste {
    font-size: 1.8em;
    font-weight: normal;
    color: dodgerblue;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rubrique-maste .close {
    font-weight: lighter;
}

.rubrique-maste .close:hover {
    cursor: pointer;
    opacity: 0.5;
}


.rubrique .articles {
    display: flex;
    flex-direction: column;
}

.rubrique {
    padding: 1rem;
}

.rubrique-title {
    font-size: 1.4em;
    color: rgb(255, 255, 255);
    padding-bottom: 16px;
}

.articles a {
    padding-top: 8px;
    color: #c9c9c9;
    font-size: 16px;
}

.articles a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.humberger {
    display: none;
}

.outline {
    text-decoration: none;
    color: white;
    padding: 1rem 0.5rem;
    border: 1px solid #ffffff;
    text-align: center;
    display: inline-block;
}

@media (max-width: 600px) {
    .menu {
        display: none;
    }

    .humberger {
        display: block;
    }

    .home {
        display: block;
    }

    nav {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .show-menu .menu {
        width: 100%;
        display: block;
    }
}

