
h2(id="home").big-title Bienvenue sur le site officiel des notaires du Gabon.

section
  h1 A propos
  .section-container
    p Ce site est dédié à la présentation des services que peuvent offrir les notaires aux populations. Vous êtes à la recherche d'une quelconque informations consernant les missions des notaires? Il vous suffit de naviguer entre les différentes rubriques du site pour découvrir toutes les informations fiables.

section
  h1 A quoi sert un notaires ?
  .section-container
    p Les secteurs d'activités du notaires sont très variés. Bien que très peux connu du grand publique, le notaire nous accompagne dans tout les grands moment de notre vie: Lors de notre naissance, lors de notre mariage, lors de notre décès, lors de l'acquisition ou la séparation d'un bien... Pour découvrir en détail les zones d'intervention du notaire, vous pouvez visiter les différentes rubrique du site. 

section
  h1 Trouver un notaire en ligne
  .section-container
    p Accédez à l'application notarium pour soumettre votre besoin à un notaire et commencer les démarches sans vous déplacer. 

    a(href="http://notarium.54hc.xyz" class="outline") Visiter notarium 