doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/cms1/s/css/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet")
    script(src="/header/dist/bundle.js")
    script(src="/embed/dist/bundle.js")
    script(src="/editorjs/dist/editor.js")
    title Notaires du Gabon - CMS 1
  body    
    main
      include includes/sidebar.pug

      if article
        include includes/edit_article.pug
      else
        h1 Hello World

  script(src="/cms1/s/js/sidenav.js")
  script(src="/cms1/s/js/article.js")

