link(rel="stylesheet" href="/cms1/s/css/welcome.css")

.welcome
    h1 CMS 1
    h2 Bienvenu sur le Système de gestion de contenu du site notaires.ga
    a(href="https://notairesga.pivot40.tech") Voir le site

    p NB: le site est accessible à l'adresse:
      strong https://notairesga.pivot40.tech