.sidenav {
    border-right: 1px solid #cccccc;
    height: 100vh;
    overflow: scroll;
    position: sticky;
    top: 0px;
    left: 0px;
}

.top-content {
    padding: 20px;
    border-bottom: 1px solid #cccccc;
    background-color: dodgerblue;
    text-align: center;
    position: sticky;
    top: 0px;
    left: 0px;
}

.top-content button {
    background-color: rgb(5, 25, 46);
    color: white;
    padding: 10px 32px;
    border: none;
    font-size: 16px;
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
}

.hidden-form-ctn form {
    display: none;
}

.hidden-form-ctn .show-create-form {
    display: flex;
    flex-direction: row;
}

.hidden-form-ctn form input {
    padding: 6px;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 12px;
}

.menu .add-rubrique, .menu .rubriques, .rubrique .add-article, .rubrique .articles, .update-form {
    display: none;
}

.menu .show-content, .rubrique .show-content {
    display: flex;
}

.update-form {
    width: 100%;
    flex-direction: row;
}

.update-form button {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 4px;
}

.update-form input {
    border: none;
    border-bottom: 1px solid #cccccc;
    padding: 8px;
}

.menu .title {
    padding: 16px;
    border-bottom: 1px solid #cccccc;
    background-color: #efefef;
}

.menu .title:hover {
    cursor: pointer;
}

.add-rubrique, .add-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

button:focus {
    outline: none;
}

.add-rubrique button, .add-article button {
    border: none;
    background-color: #eeeeee;
    color: #444444;
    box-shadow: -1px 0.5px 5px #cccccc;
    padding: 8px 48px;
}

.rubriques {
    display: flex;
    flex-direction: column;
}

.rubrique {
    padding-top: 20px;
}

.rubrique .title {
    color: dodgerblue;
    border-bottom: 1px solid dodgerblue;
    padding: 8px;
    background-color: transparent;
}

.articles a {
    text-decoration-line: none;
    color: #777777;
    padding: 8px;
    padding-left: 20px;
}

.articles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.delete-form button {
    background-color: transparent;
    color: #777777;
    font-size: 24px;
    font-weight: bold;
    border: none;
}